language: python
python:
# Pypy and Python2.6 on Travis CI fail with
#   InsecurePlatformWarning: A true SSLContext object is not available.
#  - "pypy"
#  - "2.6"
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install pybuilder
  - pip install coveralls
  - pyb install_dependencies
script: "pyb -X analyze"
after_success:
  - coveralls --verbose
